@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

img {
  width: 100% !important;
  height: auto;
  object-fit: cover;
  position: unset !important;
}

.container {
  width: 1280px;
  max-width: 95%;
  margin: 0 auto;
}

header {
  width: 100%;
  height: auto;
  padding-bottom: 10px;
  background: url(../../public/hero-bg.png) no-repeat center center/cover;
  .nav {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__btn button {
      width: 90px;
      height: 40px;
      border-radius: 20px;
      border: 0.5px solid var(--color-orange, #fc6652);
      color: #fff;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      background: transparent;
      cursor: pointer;
      transition: all 0.3s linear;
      &:hover {
        background: #fc6652;
        color: #fff;
      }
    }
  }
  .hero {
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__title {
      color: #fff;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 42px;
      span {
        color: #fc6652 !important;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
      }
    }
    &__text {
      padding-top: 8px;
      color: #b4b4b4;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px; /* 133.333% */
    }
    &__btns {
      margin-top: 120px;
      display: flex;
      gap: 31px;
    }
    &__image img {
      width: 100%;
      object-fit: contain;
      animation: tepa 2s ease infinite alternate;
    }
  }
  .hero__twink button {
    width: 277px;
    height: 72px;
    border-radius: 100px;
    background: #fc6652;
    color: #fff;
    border: none;
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    cursor: pointer;
    transition: all 0.3s linear;
    &:active {
      background-color: transparent;
      color: #fff;
      border: 2px solid #fc6652;
    }
    &::after {
      content: ' »';
      font-size: 24px;
    }
  }
  .hero__twink2 button {
    cursor: pointer;
    width: 277px;
    height: 72px;
    background-color: transparent;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    border-radius: 100px;
    border: 1px solid #fff;
    &::after {
      content: ' >';
      font-size: 18px;
    }
  }
  .twink {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      color: #b6b6b6;
      font-size: 18px;
      font-style: italic;
      font-weight: 400;
      line-height: 26px;
      padding-top: 13px;
    }
  }
  .arrow {
    margin: 0 auto;
    width: 54px;
    height: 78px;
    display: grid;
    place-items: center;
    border-radius: 60px;
    background: #fff;
    cursor: pointer;
    animation: tepa 2s ease infinite alternate;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    img {
      width: 20px !important;
      height: auto !important;
    }
  }
}

@keyframes tepa {
  0% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(15px);
  }
}

.line {
  width: 64px;
  height: 4px;
  border-radius: 20px;
  background: #fc6652;
  margin: 63px auto;
}
